services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - C:/Users/wonse/AppData/Roaming/gcloud:/root/.config/gcloud:ro # gcloud-cli key 위치

  gpu-tunnel:
    volumes:
      - C:/Users/wonse/.ssh/gpu_key:/id_rsa #:ro # 1에서 등록한 ssh key 위치
      - C:/Users/wonse/.ssh/known_hosts:/known_hosts:ro # 1에서 등록한 ssh key 위치