name: CI/CD Pipeline

# event trigger
# main이나 backend 브랜치에 push가 되었을 때 실행
on:
  push:
    branches:
      - "main"
      - "be/**"
  pull_request:
    branches:
      - "main"
      - "be/**"

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:

      # JDK setting - github actions에서 사용할 JDK 설정 (프로젝트나 AWS의 java 버전과 달라도 무방)
      - uses: actions/checkout@v4
      - name: Set up JDK 17 and Eclipse Temurin
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # gradlew에 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: | 
          chmod +x backend/gradlew
          ls -l backend/gradlew

      # 린트 체크 실행
      - name: Lint Check
        working-directory: ./backend
        run: ./gradlew ktlintCheck

      # 빌드
      - name: Build and run application
        env:
          DB_URL: ${{ secrets.DB_URL }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        working-directory: ./backend
        run: |
          ./gradlew build -x test
          ./gradlew test

      # Docker 로그인
      - name: Docker login
        if: contains(github.ref, 'main')
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      # Docker 이미지 빌드 및 푸시
      - name: Docker build & push
        if: contains(github.ref, 'main')
        working-directory: ./backend
        run: |
          docker build -f ./Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/itda .
          docker push ${{ secrets.DOCKER_USERNAME }}/itda  

  CD:
    runs-on: ubuntu-latest
    needs: CI
    if: contains(github.ref, 'main')
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to prod
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_PROD }}
          username: dev
          key: ${{ secrets.PRIVATE_KEY }}
          envs: GITHUB_SHA
          script: |
            if [ -f "docker-compose.yml" ]; then
              sudo docker-compose down
            fi
            
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/itda
            
            cat <<EOF > .env
            DB_URL=${{ secrets.DB_URL }}
            DB_USERNAME=${{ secrets.DB_USERNAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}
            
            EMBEDDING_SERVER_API_KEY=${{ secrets.EMBEDDING_SERVER_API_KEY }}
            EMBEDDING_SERVER_URL=${{ secrets.EMBEDDING_SERVER_URL }}
            EOF
            
            cp backend/docker-compose.yml .
            
            sed -i 's|docker-username/itda:latest|${{ secrets.DOCKER_USERNAME }}/itda:latest|g' docker-compose.yml
            
            sudo docker-compose up -d
            
            sudo docker system prune -a -f --volumes
